* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

#logo {
    width: 230px;
    margin-left: 20px;

}

#c-2 {
    width: 600px;
}

.parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#underline {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-left: 120px;

}

li {
    list-style: none;
    font-weight: bolder;
    padding-top: 15px;
    margin-left: 28px;

}

.link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


.heading1,
.heading2,
.heading3 {
    margin-bottom: 250px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    width: 100%;
}



.parent2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    margin: 10px;
}

.child-1 {
    width: 50%;
    height: auto;
}

.child-2 {
    width: 50%;

}

.child-2>img {
    margin-left: 100px;
    width: 400px;

}

.child-1>p {
    word-spacing: 5px;
    margin-top: 30px;
}

#two {
    color: #007eda;
    font-size: 36px;
    font-weight: 550;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

#one {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #000000 !important;
    letter-spacing: 2px;
    line-height: 1.3em;
    margin-bottom: 40px;

}

p {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    margin-bottom: 100px;
}

#btn {
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Archivo', Helvetica, Arial, Lucida, sans-serif;
    padding: 10px;
    border: none;
    margin-top: 50px;
    background-color: black;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}


.closer {
    text-align: center;
    color: #007eda;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
}

.closer2 {
    text-align: center;
    color: #007eda;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 50px;
}


.parent-3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;

}

.box {
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #000000 !important;
    padding-top: 30px;
    padding-right: 45px;
    width: 280px;
    height: 230px;
    padding-left: 30px;

}

.item {
    padding-left: 5px;
    list-style-type: disc;
    font-weight: 520;
}




.box>h6 {
    color: #E09900;
    line-height: 1em;
    font-weight: bold;
}

.fa-lightbulb,
.fa-bullseye,
.fa-circle-user {
    font-size: 50px;
    color: #E09900;
}

.parent-4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;

}

.box-1 {
    width: 350px;
    padding: 30px;

}

h4 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 22px;
    color: #000000 !important;
    line-height: 1.8em;
    font-weight: 500;
}

.para {
    font-weight: 500px;
    text-transform: capitalize;
    color: gray;
}


.parent-5 {
    display: flex;
    text-align: center;
    margin-top: 60px;
    width: 100%;
    height: 430px;

}

.fa-desktop,
.fa-windows,
.fa-arrows-spin {
    font-size: 60px;
    color: #007eda;
}

.c-5 {
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.p-5 {
    text-align: center;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    display: inline-block;
    font-weight: 500;
}

.child-5 {
    padding-top: 30px;

}

.child-5:hover {

    background-color: lightgrey;

}
.b-5 {
    color: #0C71C3 !important;
    border-width: 0px !important;
    border-radius: 100px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Heebo', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
}

.closer4{
  padding-top:50px;
  display: inline-block;
  margin-left: 380px;
  width: 100%;
  font-size: 28px;
  color: #007eda;
  font-weight: bold;
}

.p-6{
    text-align: center;
    color: #007eda;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 50px;
}

.parent-6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
    flex-wrap: wrap;
}

.read-more{
    text-decoration: none;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 2.1em;
}

.line{
    border: 2px solid rgb(0, 0, 0);
    margin-top: 100px;
}

.parent-7{
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
}

.adjust{
    flex-direction: column;
    padding-left: 100px;
}

.review{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #0C71C3!important;
    line-height: 1.5em;
}

.feed{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 19px;
    max-width: 160px;
    display: inline-block;
    font-weight: 520;
    color: #000000;
}

.review-on{
    color: #6a797e;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-right: 10px;
}

.fa-star{
    color: orangered;
}

.clutch{
    height: 23px;
    width: 82px;
    font-family: Roboto,sans-serif;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    font-weight: 500;
}

.footer-background{
    background-color: #000000;
    margin-top: 100px;
    padding: 100px 0px;
}

.contact{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF!important;
    line-height: 1.5em;
   
}

.label-name{
    color: #ffffff;
    
}

.input_field{
    margin-bottom: 20px;
    width: 300px;
    background-color:  #eee;
    padding: 10px 20px;
    color: rgb(3, 3, 3);
    border: none;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-child1{
    max-width: 400px;

}

.footer-child2{
    max-width: 400px;
    text-align: center;
    padding-top: 50px;

}

.footer-child3{
    max-width: 400px;
    text-align: center;
    margin-bottom: 350px;

}

.submitBtn{
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 20px;
    display: inline-block;
    background-color: #000000;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 3px;
    font-weight: 500;
}

.contact-details{
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF!important;
    line-height: 1.6em;
}

.address_para{
    color: #eee;
    font-weight:700;
    padding-top: 10px;

}

.num{
    color: #eee;

}

#send{
    color: #eee;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 15px;

}


.fa-facebook{
    color: #007eda;
    margin-right: 10px;
   
}

.fa-square-twitter{
    color: #4285f4;
    margin-right: 10px;

}

.fa-square-instagram{
    color: rgb(230, 97, 119);
    margin-right: 10px;

}

.fa-linkedin{
    color:    #0a66c2;

}

.parent-10{
    padding-top: 20px;
}
.quick-links{
    margin-top: 50px;
    color: #eee;
}

.page-link{
    text-decoration: none;
    color: #eee !important;
}

#footer-s{
    padding-bottom: 150px;
}

.direction{
    
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF!important;
    line-height: 1.6em;

}

.map{
 
    margin-top: 20px;
    height: 300px;
    width: 400px;

}